* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
   }
body {
display: flex;
flex-direction:column;
align-items: center;
background-image: url(fluffykittens.jpg);
}

input {
    border: 1px solid black;
    border-radius:0%;
    margin-top: 30px;
    height: 30px;
    width: 500px;
}
.repositoryBase {
    border: 1px solid black;
    width:500px;    
    height: 500px;
    overflow: scroll;
    background-color: white;
}
.repositoryBase__element {
    border: 0.5px solid black;
    background-color: rgb(190, 188, 188);
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    overflow: hidden;
}
.reposrepositoryBase__name {
    font-size: 20px;
    font-weight: 700;
    color: rgb(145, 12, 2);
    width: 100%
}
.reposrepositoryBase__author {
    justify-items: start;
}
.svgCross {
    width: 20px;
    position: relative;
    left: -10px;
    top: -12px;
    
}
.svgCross:hover {
    width: 21px;
    cursor:pointer;
    
}
.reposrepositoryBase__stars {
    position: relative;
    top: -5px;
}
.svgStar {
    width: 20px;
    position: relative;
    top: 5px;
    left: 8px;
}
.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.bodyInputDiv {
position: relative
}
.spinner {
    position: absolute;
    right: 10px;
    top: 34px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgb(185, 185, 185);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .hiddenFullName {
    display: none;
  }
  .tooltip {
    height: 30px;
    width: 150px;
    text-align: center; 
    padding-top: 8px;
    z-index: 1;
    position: absolute;
    background-color: rgb(248, 191, 5);
    top: 50px;
  }
